:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Contenedor General */
.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

/* Header */
header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(251, 194, 235, 0.39) 0%,
      rgba(166, 192, 238, 0.4) 100%
    ),
    url(../Fotos/11.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5; /* Puedes ajustar la opacidad según sea necesario */
  z-index: -1;
}

/* Head */
.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

/* Menú */
.menu {
  position: fixed;
  top: 30px;
  right: 30px;
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Menú de Navegación */
.Menu-navegacion {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(120deg, #b4b6b6 0%, #fdfcfc 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
}

/* Spread */
.spread {
  transform: translate(0);
}

/* Enlaces del Menú de Navegación */
.Menu-navegacion a {
  color: black;
  text-decoration: none;
}

/* Títulos y Subtítulos */
.titulo {
  font-size: 50px;
  margin-bottom: 15px;
}

.copy,
.subtitulo {
  margin: 10px;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

/* Servicios */
.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
}

.checklist-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
}

.service ul {
  margin-left: 40px;
}

.n-service {
  margin-bottom: 7px;
  color: #00aaff;
}

.number {
  display: inline-block;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%);
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

/* Galería */
.gallery {
  background: #f2f2f2;
}

.contenedor-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.galeria-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Información Residencial */
.residencial-info {
  padding: 20px;
  text-align: center;
}

.residencial-info img {
  box-shadow: 0 0 30px black;
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

.residencial-info p {
  font-size: 18px;
  color: black;
  margin-top: 10px;
}

.Fotos-galeria {
  max-width: 100%;
}

/* Imagen y Texto */
.imagen-texto {
  flex: 1;
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

/* Lightbox de Imágenes */
.imagen-ligth {
  position: fixed;
  background: rgba(0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.showImage {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}

/* Expertos */
.experts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cont-expert {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.cont-expert img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.n-expert {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400px;
}

/* Footer */
footer {
  background: #a6c0ee;
  padding-bottom: 0.1px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Contacto */
.contact-us {
  width: 40%;
  color: black;
}

/* Marca y Redes Sociales */
.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
}

.social-media {
  padding: 20px;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  color: black;
}

.social-media-icon:hover {
  background: black;
  color: #a6c0ee;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

/* Línea Separadora */
.line {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: black;
  margin-bottom: 60px;
}

.social-icons {
  display: flex;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .footer-content {
    padding: 0 20px;
  }
}
@media screen and (max-width: 900px) {
  .Menu-navegacion {
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .Fotos-galeria {
    width: 45%;
  }

  .cont-expert {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .social-media i {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .titulo {
    font-size: 30px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .copy,
  .subtitulo {
    font-size: 16px; /* Ajusta el tamaño del subtítulo para pantallas más pequeñas */
  }

  .menu {
    top: 20px;
    right: 20px;
  }

  .Fotos-galeria {
    width: 95%;
  }

  .social-media {
    width: 100%;
  }

  .contact-us {
    width: 90%;
  }
}

/* Media Queries específica para dimensiones 280 x 653 */
@media screen and (max-width: 280px) {
  header {
    background-size: auto; /* Evita que la imagen del header se desborde en pantallas más pequeñas */
  }

  .titulo {
    font-size: 24px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .copy,
  .subtitulo {
    font-size: 14px; /* Ajusta el tamaño del subtítulo para pantallas más pequeñas */
  }
}
